# Your Medusa backend, should be updated to where you are hosting your server. Remember to update CORS settings for your server. 
MEDUSA_BACKEND_URL=http://localhost:9000

# Your publishable key that can be attached to sales channels. 
NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=

# Your store URL, should be updated to where you are hosting your storefront.
NEXT_PUBLIC_BASE_URL=http://localhost:8000

# Your preferred default region. When middleware cannot determine the user region from the "x-vercel-country" header, the default region will be used. ISO-2 lowercase format.
NEXT_PUBLIC_DEFAULT_REGION=

# Your Stripe public key. 
NEXT_PUBLIC_STRIPE_KEY=

# Your Next.js revalidation secret. 
REVALIDATE_SECRET=

# Clerk Authentication Configuration
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# Clerk URL Configuration
NEXT_PUBLIC_CLERK_SIGN_IN_URL=
NEXT_PUBLIC_CLERK_SIGN_UP_URL=
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=

NEXT_PUBLIC_ENABLE_CART=
NEXT_PUBLIC_ENABLE_STORE=
NEXT_PUBLIC_ENABLE_COLLECTIONS=
NEXT_PUBLIC_ENABLE_PRODUCTS=
NEXT_PUBLIC_ENABLE_ORDERS=
NEXT_PUBLIC_ENABLE_COUNTRY_SELECTOR=

# Configuración de región fija para MVP
NEXT_PUBLIC_USE_FIXED_REGION=


NEXT_PUBLIC_ENABLE_PRODUCT_CATALOG=
NEXT_PUBLIC_ENABLE_PAYMENTS=
NEXT_PUBLIC_ENABLE_SUBSCRIPTIONS=
